.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 40px;
	align-items: center;
}

.vline {
	border-left: 1px solid var(--gray-light);
	height: 50%;
}

.title {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;

	color: var(--black);
}