.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 40px;
	align-items: center;
	margin-bottom: 30px;
}

.vline {
	border-left: 1px solid #D2D2D2;
	height: 100%;
}

.title {
	font-weight: bold;
}