.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.advantages {
	margin-top: 45px;
}

.advantagesList {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 40px;
}